*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }


a, li, p, h1, h2, h3, h4, h5, h6, span, .nav-item, .nav-link {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}


.header {
    margin-bottom: 40px;
}

.list-group {
    margin-bottom: 40px;
}
.list-group-item {
    max-width: 250px;
}

.types-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.container-menu-and-items {
    display: flex;
    justify-content: space-between;
}

.accordion {
    max-width: 250px;
    width: 250px;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userdata-container, .persondata-container {
    background-color: #DADADA;
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    margin-bottom: 40px;
}


.userdata-list-item {
    width: 100px;
}

.nav-link {
    font-size: 20px;
}

.persondata-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-list-link:hover{
    color: blue;
}
.active {
    font-weight: 700;
}

.product-container{
    display: flex;
}

.product-pictures-container{
    display: flex;
}

.product-pictures-mini-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.product-photo-mini {
    max-width: 80px;
    max-height: 120px;
    margin-bottom: 20px;
}

.product-photo {
    max-width: 360px;
    max-height: 540px;
    margin: 0 20px;
}

.product-name-and-brand, .product-add-buttons {
    display: flex;
    justify-content: space-between;
}

.product-details {
    max-width: 400px;
    font-size: 12px;
    font-weight: 500;
    text-align: justify;
}

.add-to-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 200px;
    gap: 10px;
}

.product-to-cart {
    color: white;
}

.product-to-fav {
    color: black;
}

.liked {
    color: red;
}

.cart {
    margin: 40px 40px;
    display: flex;
    justify-content: space-between;
}

.cart-items {
    background: #F3F3F3;
    padding: 15px 30px;
    width: 60%;
}

.cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.cart-empty-link {
    padding: 5px 50px;
    border: 1px solid #000;
        font-weight: 500;
}

.cart-empty-gid {
    margin: 200px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 14px;
}

.login-button {
    padding: 5px 100px;
    border: 1px solid #000;
    background: black;
    color: white;
    font-weight: 500;
}

.size-element {
    font-weight: 500;
}

.disabled {
    color: #aaa;
}

.product-photo-cart {
    width: 140px;
    height: 220px;
    margin: 15px 25px;
}

.cart-item-card {
    display: flex;
    justify-content: left;
    align-items: center;
}

.cart-info {
    background: #F3F3F3;
    width: 35%;
}

.brand-showcase {
    margin-bottom: 40px;
}

.search-main {
    display: flex;
}

.out-of-stock {
    opacity: 0.5;
}

#sumOutput {
    margin-bottom: 150px;
}

.clear-or-buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buy-btn {
    width: 400px;
    text-align: center;
    padding: 15px 150px;
    background: black;
    color: white;
    margin-bottom: 15px;
}

.clear-btn {
    width: 400px;
    text-align: center;
    padding: 15px 150px;
    background: white;
    color: black;
    margin-bottom: 15px;
    border-radius: 1px solid #111;
}

.container-flex {
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
}

.login-title {
    margin-bottom: 15px;
}

.signup-info-block {
    display: flex;
    flex-direction: column;
}

.register-btn {
    text-align: center;
    background: black;
    border-radius: 1px solid #000;
    padding: 15px 100px;
    color: white;
    margin-bottom: 15px;
}

.continue-wo-register-btn {
    text-align: center;
    color: black;
    background: white;
    border: 1px solid black;
}