{% extends 'base.html' %}
{% block title %} Welcome {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<span>Home -> {{ item.item_gender }} -> {{ item.item_type }} -> {{ item.item_category }}</span>
<br>
    <div class="product-container">
        <div class="product-pictures-container">
            <div class="product-pictures-mini-container">
            {% for picture in item.pictures.all %}
                <img src="{{ picture.get_url }}" class="product-photo-mini" alt="{{ picture }}">
            {% endfor %}
            </div>
            <div class="product-pictures-macro-container">
            {% for picture in item.pictures.all|slice:":2" %}
                <img src="{{ picture.get_url }}" class="product-photo" alt="{{ picture }}">
            {% endfor %}
            </div>
        </div>
        <div class="product-info">
            <div class="product-name-and-brand">
                <p class="product-name">{{ item }}</p>
                <p class="product-brand">{{ item.item_brand}} </p>
            </div>
            {% for color in item.item_color.all %}
            <p class="product-color">{{ color }} </p>
            {% endfor %}
            {% if item.on_sale %}
            <p class="card-text" style="color: red;">{{ item.final_price }} UAH</p>
            {% endif %}
            <p class="product-price">{{ item.get_price }} UAH </p>
            <label for="sizes">Choose a size:</label>
            <select name="size" id="sizes">
                {% for size in item.item_size.all %}
                <option value="product-size">{{ size }}</option>
                {% endfor %}
            </select>
            <br>
            <hr>
            <div class="product-add-buttons">
                <div class="add-to-cart-container">
                    <a href="#" class="product-to-cart">Add to Cart</a>
                <i class="fa-sharp fa-solid fa-cart-shopping"></i></div>

                {% if item in favorites %}
                    <a href="{% url 'shop:delete_from_favorite' item_slug=item.slug %}" class="product-to-fav liked"><i class="fa-solid fa-heart"></i></a>
                {% else %}
                    <a href="{% url 'shop:add_to_favorite' item_slug=item.slug %}" class="product-to-fav"><i class="fa-solid fa-heart"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
<hr>

{% endblock %}