<!--{% extends 'base.html' %}-->
<!--{% block content %}-->
<!--{% load crispy_forms_tags %}-->
<!--{% for message in messages %}-->
<!--    <div class="alert alert-primary" role="alert">-->
<!--      {{ message }}-->
<!--    </div>-->
<!--{% endfor %}-->
<!--<script>-->
<!--    const alert = document.getElementById('alert');-->

<!--btn.addEventListener('click', () => {-->

<!--  alert.classList.remove('d-none');-->

<!--  setTimeout(() => {-->
<!--    alert.classList.add('d-none');-->
<!--  }, 2000)-->

<!--})-->
<!--</script>-->
<!--{% endblock %}-->
